
.gridComponent {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out .5s;
  padding: 20px;
  &.loading {
    height: 95vh;
   }
  &.inactive {
    // transform: translateX(0);
    transform: translateX(var(--sb-width));
    .buttons {
      display: none;
    }
  }
  .css-q3o1l2 {
    align-self: center;
    width: 100px;
    height: 100px;
  }
.grid{
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, minmax(400px, 1fr));
  grid-auto-columns: minmax(300px, 20%);
  gap: 20px;
  max-width: 100vw;
  max-height: 92vh;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
  scroll-behavior: smooth;
  &::-webkit-scrollbar{
    visibility: hidden;
    height: 5px;
  }
  span {
    scroll-snap-align: start;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

  .buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    // background: rgba(0,0,0,0.3);
    width: 97vw;
    height: 90%;
    button {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      border: none;
      .buttonIcon {
        width: 30px;
        height: 30px;
      }
    }
  }


}