.header {
  width: 100vw;
  height: 55px;
  display: grid;
  padding: 15px 0;
  box-shadow: #eee;
  .headerText {
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    display: inline;
  }
  .menuIcon {
    position: absolute;
    margin: 0 30px;
    width: 30px;
    height: 30px;
    path {
      fill: currentColor
    }
  }

}