.sidebar {
  width: var(--sb-width);
  height: 100vh;
  background: red;
  position: absolute;
  transform: translateX(calc(-1 * var(--sb-width)));
  transition: all ease-in-out .5s;

  &.active {
    transform: translateX(0px);
    
  }
}

.header #togglerCheckBox:checked ~ .sidebar {
  transform: translate(0px);
}